$text-primary: #19191D;
$text-secondary: #787885;
$text-blue: #2264D1;
$text-grey: #5A5B6A;
$text-white: #ffffff;

$border-blue: #9DC2FF;

$background-white: #ffffff;
$background-light-blue: #EBF2FF;
$background-grey: #EDEDF0;
$background-error: #e86464;