*,
*::before,
*::after {
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
}

html,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1;
    overflow: hidden;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}


::-webkit-input-placeholder { /* Edge */
  color: rgba(3, 2, 41, 0.5);
  font-size: 12px;
  opacity: 0.7;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(3, 2, 41, 0.5);
  font-size: 12px;
  opacity: 0.7;
}

::placeholder {
  color: rgba(3, 2, 41, 0.5);
  font-size: 12px;
  opacity: 0.7;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}