@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$font-family--text: 'Inter', sans-serif;

$font-base: 16px;
$lineHeight-base: 24px;

$font-secondary: 14px;
$font-heading: 24px;

$lineHeight-secondary: 20.02px;
$lineHeight-bold: 36px;

$weight-light: 300;
$weight-medium: 500;
$weight-base: 400;
$weight-bold: 700;